
/*Кнопки*/

.button{
  width: calc(100% - 20px);
  color: #ffffff;
  font-size: 10px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  display: block;
  transition: 0.5s all;
  height: 30px;
  background: linear-gradient(90deg, #FF7A00 0%, #FF421F 100%);
  box-shadow: -5px -5px 8px rgba(255, 255, 255, 0.4), 4px 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  margin: 10px auto 0;
  z-index: 1;
  border: none;
  &:focus{
    outline: none;
  }
  &_small{
    width: 100%;
  }
  &_blue{
    height: 50px;
    background-color: #041f3d;
    }
  &__main-page{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  &__mt40px{
    margin-top: 60px;
  }
  }
