.cabinet{
  position: relative;
  min-height: 500px;
  padding: 30px 0 10px 0;
  &__link{
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 244px;
    height: 49px;
    border-radius: 4px;
    border: 1px solid #fc3f2e;
  }
  &__a{
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
  }
}