.main-page {
  height: 100vh;
}

.phone_wrapper {
  position: relative;
  display: block;
  width: 290px;
  min-height: 524px;
  padding: 10px;
  margin: 0 auto;
  background: linear-gradient(108.31deg, #F9F9F9 0.64%, #FFFFFF 100%);
  box-shadow: -2px -2px 8px rgba(255, 255, 255, 0.3), 2px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  box-sizing: border-box;

  &__tittle {
    margin-top: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #041F3D;

    &__sub {
      text-align: center;
      margin: 5px 20px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 14px;
      color: #000000;
    }
  }
}

.round_img {
  position: absolute;
  left: 75%;
  top: 20%;
  border-radius: 100%;
  width: 86px;
  box-shadow: -4px 20px 40px rgba(0, 0, 0, 0.25);

  &_1 {
    position: absolute;
    top: 30%;
    border-radius: 100%;
    width: 70px;
    box-shadow: 4px 20px 40px rgba(0, 0, 0, 0.25);
    left: -5%;
  }

  &_2 {
    top: 42%;
    position: absolute;
    width: 51px;
    border-radius: 100%;
    box-shadow: 4px 20px 40px rgba(0, 0, 0, 0.25);
    left: 20%;
  }

  &_3 {
    top: 43%;
    position: absolute;
    width: 38px;
    border-radius: 100%;
    box-shadow: -4px 20px 40px rgba(0, 0, 0, 0.25);
    left: 60%;
  }

  &_4 {
    top: 54%;
    position: absolute;
    width: 51px;
    border-radius: 100%;
    box-shadow: 4px 20px 40px rgba(0, 0, 0, 0.25);
    left: -3%;
  }

  &_5 {
    top: 48%;
    position: absolute;
    width: 54px;
    border-radius: 100%;
    box-shadow: -4px 20px 40px rgba(0, 0, 0, 0.25);
    left: 85%;
  }

  &_6 {
    top: 57%;
    position: absolute;
    width: 51px;
    border-radius: 100%;
    box-shadow: 4px 20px 40px rgba(0, 0, 0, 0.25);
    left: 27%;
  }

  &_7 {
    top: 66%;
    position: absolute;
    width: 51px;
    border-radius: 100%;
    box-shadow: -4px 20px 40px rgba(0, 0, 0, 0.25);
    left: 60%;
  }

  &_8 {
    top: 72%;
    position: absolute;
    width: 51px;
    border-radius: 100%;
    box-shadow: 4px 20px 40px rgba(0, 0, 0, 0.25);
    left: 20%;
  }

  &_9 {
    position: absolute;
    border-radius: 100%;
    box-shadow: 4px 20px 40px rgba(0, 0, 0, 0.25);
    left: 57%;
    top: 55%;
    width: 19px;
    height: 19px;
    background: #FF421F;
  }

  &_10 {
    position: absolute;
    border-radius: 100%;
    box-shadow: 4px 20px 40px rgba(0, 0, 0, 0.25);
    left: 45%;
    top: 39%;
    width: 19px;
    height: 19px;
    background: #B3C6D3;
  }
}

  .white-bg {
    position: absolute;
    bottom: 35px;
    height: 115px;
    width: 280px;
    left: 50%;
    z-index: auto;
    transform: translateX(-50%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
  }

