

/*модуль с услугой (название услуги, время, описание, длительность)*/


.service {
  &__box {
    position: relative;
    width: calc(100% - 20px);
    margin: 10px auto 10px;
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 0.3), 2px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-image: linear-gradient(#eff7fd 0%, #d7e6f0 100%);
    padding: 10px;

    &__big{
    }

    &_tittle {
      color: #041f3d;
      font-size: 10px;
      font-weight: 700;
      line-height: 16px;
      text-align: center;
  }

    &_descr {
      color: #000000;
      font-size: 10px;
      font-weight: 300;
      line-height: 16px;
      text-align: center;
      margin-top: 10px;
  }

    &_time {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 10px;
      color: #000000;
      font-size: 10px;
      font-weight: 300;
      line-height: 16px;
      text-align: center;
      margin-top: 10px;
      &__big{
        left: 20px;
        transform: none;
      }
  }

    &_active {
      background: linear-gradient(90deg, #FF421F 0%, #FF7A00 100%);
  }
    &_editor {
      position: absolute;
      right: 10px;
      bottom: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      background: #FFFFFF;
      background-blend-mode: lighten;
      border: 1px solid rgba(255, 255, 255, 0.6);
      box-shadow: -5px -5px 8px rgba(255, 255, 255, 0.4), 4px 4px 8px rgba(0, 0, 0, 0.3);
    }
  }
}

