.tittle{
  position: relative;
  font-size: 18px;
  font-weight: 700;
  line-height: 31px;
  text-align: center;
  color: #041f3d;
  &__sub{
    color: #000000;
    font-weight: 400;
    line-height: 10px;
    text-align: center;
    font-size: 12px;
  }
}