
/*Меню на верху каждой страницы с бургером*/

.menu{
  display: flex;
  width: 290px;
  justify-content: space-between;
  margin: 0 auto 20px;
  &__tittle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
.round{
  width: 40px;
  height: 40px;
  box-shadow: -5px -5px 8px rgba(255, 255, 255, 0.4), 4px 4px 8px rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(#ededed 0%, #ffffff 100%);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &__point{
    margin: 0 1px 0 1px;
    width: 6px;
    height: 6px;
    background-color: rgba(4, 31, 61, 0.6);
    border-radius: 100%;
  }
}